@import '../styles/index.scss';

$alert-message-color: $text-color-accent;
$alert-description-color: $text-color;
$alert-message-font-size: $text-sm;
$alert-message-font-size-lg: $text-base;
$alert-message-descr-spacing: $space-xxs;
$alert-description-font-size: $text-sm;

.#{$prefix}-alert {
  align-items: flex-start;
  position: relative;
  padding-top: $space-xs;
  padding-bottom: $space-xs;
  padding-left: $space-lg;
  padding-right: $space-base;
  font-size: $alert-message-font-size;
  line-height: $line-height-base;
  color: $text-color;
  border-radius: $border-radius-base;

  // &, & > * {
  //   outline: 1px dashed red;

  // }

  $self: #{&};

  &-no-icon#{$self} {
    padding-left: $space-base;
  }

  &-closable#{$self} {
    padding-right: $space-lg; 
  }

  &-with-description {
    padding-top: $space-base;
    padding-bottom: $space-base;
    padding-left: $space-xl;
  }

  &-success {
    background-color: $success-color-fade;
    border: 1px solid $success-color-secondary;

    #{$self}-icon {
      color: $success-color;
    }
  }

  &-error {
    background-color: $error-color-fade;
    border: 1px solid $error-color-secondary;

    #{$self}-icon {
      color: $error-color;
    }
  }

  &-warning {
    background-color: $warning-color-fade;
    border: 1px solid $warning-color-secondary;

    #{$self}-icon {
      color: $warning-color;
    }
  }

  &-info {
    background-color: $info-color-fade;
    border: 1px solid $info-color-secondary;

    #{$self}-icon {
      color: $info-color;
    }
  }

  &-icon {
    position: absolute;
    top: $space-xs + $alert-message-font-size * $line-height-base / 2 - $alert-message-font-size / 2;
    left: $space-sm;
  }

  &-close-icon {
    appearance: none;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: $space-xs;
    right: $space-base;
    cursor: pointer;
  }

  &-description {
    display: none;
    color: $alert-description-color;
  }

  &-with-description &-icon {
    font-size: $text-lg;
    top: $space-base;
    left: $space-md;
  }

  &-with-description &-message {
    display: block;
    margin-bottom: $alert-message-descr-spacing;
    color: $alert-message-color;
    font-size: $alert-message-font-size-lg;
  }

  &-with-description &-description {
    display: block;
    font-size: $alert-description-font-size;
  }

  &-with-description &-close-icon {
    font-size: $text-md;
    top: $space-base;
    right: $space-base;
    line-height: $text-sm * $line-height-base;
  }
  
}