@import './functions';
@import './colors';

$prefix: 'mp';

// breakpoints
$breakpoints: 'xs', 'sm', 'md', 'lg', 'xl', 'xxl';

$screen-xs: 480px;
$screen-xs-min: $screen-xs;
$screen-sm: 576px;
$screen-sm-min: $screen-sm;
$screen-md: 768px;
$screen-md-min: $screen-md;
$screen-lg: 992px;
$screen-lg-min: $screen-lg;
$screen-xl: 1200px;
$screen-xl-min: $screen-xl;
$screen-xxl: 1600px;
$screen-xxl-min: $screen-xxl;

$screen-xs-max: $screen-sm-min - 1px;
$screen-sm-max: $screen-md-min - 1px;
$screen-md-max: $screen-lg-min - 1px;
$screen-lg-max: $screen-xl-min - 1px;
$screen-xl-max: $screen-xxl-min - 1px;

// grid
$grid-columns: 24;
$grid-gutter-width: 0;

// colors
$text-color: rgba($black, 0.65);
$text-color-accent: rgba($black, 0.87);
$text-color-secondary: rgba($black, 0.54);
$text-color-disabled: rgba($black, 0.38);

$text-color-light: $white;
$text-color-light-secondary: rgba($white, 0.7);
$text-color-light-disabled: rgba($white, 0.5);

$success-color: color-palette(green, 600);
$success-color-secondary: color-palette(green, 300);
$success-color-fade: color-palette(green, 50);
$error-color: color-palette(red, 600);
$error-color-secondary: color-palette(red, 300);
$error-color-fade: color-palette(red, 50);
$warning-color: color-palette(yellow, 800);
$warning-color-secondary: color-palette(yellow, 500);
$warning-color-fade: color-palette(yellow, 50);
$info-color: color-palette(blue, 600);
$info-color-secondary: color-palette(blue, 300);
$info-color-fade: color-palette(blue, 50);

$loading-color: color-palette(light-blue, 400);

// font-size
$text-size-base: 16px;
$text-scale-ratio: 1.2;
$text-xs: ceil($text-size-base / $text-scale-ratio / $text-scale-ratio);
$text-sm: ceil($text-size-base / $text-scale-ratio);
$text-base: $text-size-base;
$text-md: ceil($text-size-base * $text-scale-ratio);
$text-lg: ceil($text-size-base * $text-scale-ratio * $text-scale-ratio);
$text-xl: ceil($text-size-base * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio);
$text-xxl: ceil($text-size-base * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio);
$text-xxxl: ceil($text-size-base * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio);

$line-height-base: 1.5;

// spacing
$space-unit: 16px;
$space-xxxxs: 0.125 * $space-unit;
$space-xxxs: 0.25 * $space-unit;
$space-xxs: 0.375 * $space-unit;
$space-xs: 0.5 * $space-unit;
$space-sm: 0.75 * $space-unit;
$space-base: 1 * $space-unit;
$space-md: 1.25 * $space-unit;
$space-lg: 2 * $space-unit;
$space-xl: 3.25 * $space-unit;
$space-xxl: 5.25 * $space-unit;
$space-xxxl: 8.5 * $space-unit;
$space-xxxxl: 13.75 * $space-unit;

// border-radius
$border-radius-base: 4px;
